---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
ColumnLimit: 100
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
DerivePointerAlignment: false
IndentCaseLabels: true
...
